{% load static %}
<!doctype html>
<html lang="en">
  <head>
  	<title>Sidebar 01</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{% static 'css/style.css'%}">
  </head>
  <body>
		
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="p-4 pt-5">
		  		<a href="#" class="img logo rounded-circle mb-5" style="background-image: url({% static 'images/yayawallet.svg'%});"></a>
	        <ul class="list-unstyled components mb-5">
	          <li class="active">
	            <a href="#airtimeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Airtime</a>
	            <ul class="collapse list-unstyled" id="airtimeSubmenu">
                <li>
                    <a href="#">Buy Airtime</a>
                </li>
                <li>
                    <a href="#">List of Recharges</a>
                </li>
	            </ul>
	          </li>
            <li>
	            <a href="#institutionSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Institution</a>
	            <ul class="collapse list-unstyled" id="institutionSubmenu">
                <li>
                    <a href="#">List of Institutions</a>
                </li>
	            </ul>
	          </li>
            <li>
	            <a href="#invitationSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Invitaion</a>
	            <ul class="collapse list-unstyled" id="invitationSubmenu">
                <li>
                    <a href="#">Find by Inviter</a>
                </li>
                <li>
                    <a href="#">Create Invitation</a>
                </li>
	            </ul>
	          </li>
            <li>
	            <a href="#savingSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Saving</a>
	            <ul class="collapse list-unstyled" id="savingSubmenu">
                <li>
                    <a href="#">Create Saving</a>
                </li>
                <li>
                    <a href="#">Withdraw Saving</a>
                </li>
	            </ul>
	          </li>
            <li>
	            <a href="#transactionSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Transaction</a>
	            <ul class="collapse list-unstyled" id="transactionSubmenu">
                <li>
                    <a href="#">Transaction List by User</a>
                </li>
                <li>
                    <a href="#">Create Transaction</a>
                </li>
                <li>
                    <a href="#">Transaction Fee</a>
                </li>
                <li>
                    <a href="#">Generate QR Url</a>
                </li>
                <li>
                    <a href="#">Transction by ID</a>
                </li>
                <li>
                    <a href="#">Search Transaction</a>
                </li>
	            </ul>
	          </li>
            <li>
	            <a href="#transferSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Transfer</a>
	            <ul class="collapse list-unstyled" id="transferSubmenu">
                <li>
                    <a href="#">Transfer List</a>
                </li>
                <li>
                    <a href="#">Transfer as User</a>
                </li>
                <li>
                    <a href="#">External Account Lookup</a>
                </li>
                <li>
                    <a href="#">Transfer Fee</a>
                </li>
	            </ul>
	          </li>
            <li>
	            <a href="#userSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">User</a>
	            <ul class="collapse list-unstyled" id="userSubmenu">
                <li>
                    <a href="#">Get Organization</a>
                </li>
                <li>
                    <a href="#">Get Profile</a>
                </li>
	            </ul>
	          </li>
	        </ul>

	        <div class="footer">
	        </div>

	      </div>
    	</nav>

      <div id="content" class="p-4 p-md-5">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">

            <button type="button" id="sidebarCollapse" class="btn btn-primary">
              <i class="fa fa-bars"></i>
              <span class="sr-only">Toggle Menu</span>
            </button>
            <h5 class="ml-4 mb-0">
              GET
            </h5>
            <p class="ml-4 mb-0">/path/to/api</p>
          </div>
        </nav>

        <h2 class="mb-4">Lorem ipsum</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
		</div>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>